<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grupo Familiar - Acampamento Barrocas</title>
    <link rel="stylesheet" href="/style.css" />
    <!-- Adicione o jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Adicione o jQuery Mask Plugin -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"
    ></script>

  </head>
  <body>
    {{{body}}}
  </body>
</html>